
<h1>All our flats</h1>
<h4>All <%= @flats.size%> flats</h4>
<div class="d-flex bg-light">
	<% @flats.each do |flat| %>
		<div class="card-trip">
			<img src="https://picsum.photos/200/300" />
			<div class="card-trip-infos">
				<div>
					<p><%= link_to "#{flat.name}", flat_path(flat) %></p>
					<p>Address: <%= flat.address %></p>
					<p><%= flat.price_per_night%> Number  <%= flat.number_of_guests%></p>
				</div>
			</div>
		</div>
	<% end %>
</div>